 .div-div{
    background-image:  url("/images/bgnav.jpg");
    background-position: center;
    
}  
.divlogin{
background-image: url("/images/bg-login.png");
padding-left: 5rem;
padding-top: 5rem;
padding-bottom: 25rem;
background-position: center;
 
}

.divregister{

background-image: url("/images/bg-register.png");
    padding-top: 5rem;
    padding-bottom: 20rem;
    background-position: left;
padding-left: 5rem;
}
.imgadd{
    
}
